%header
  .wrapper
    %h1.left Logo
    %ul.right.horizontal
      %li Services
      %li Projects
      %li Process
      %li Skills
      %li Blog

%section#headline
  .wrapper
  
    %h2.center We love our work, and our clients do too

    %ul#highlights.clearfix
      %li.fourth.center
        %a{:href => "#"}
          = img "images/design.png"
          %h3 Interface Design
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  
      %li.fourth.center
        %a{:href => "#"}
          = img "images/development.png"
          %h3 Web Development
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    
      %li.fourth.center
        %a{:href => "#"}
          = img "images/mobile.png"
          %h3 HTML5 Mobile
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    
      %li.fourth.center
        %a{:href => "#"}
          = img "images/ecommerce.png"
          %h3 Saas and E-Commerce
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
